canvas#totalPoint{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

canvas#total3Point {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

canvas#totalChampionship{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
