#header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-right: 50px;
}

li{
    padding: 10px
}

.icon:hover{
    transform: scale(1.3);
}

.logo{
    margin-left: 50px;
}


